<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178287129845-23s55p3kh795je0n445f75oeqs5k7gp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178287129845-23s55p3kh795je0n445f75oeqs5k7gp3</string>
	<key>API_KEY</key>
	<string>AIzaSyCrJCdOZ4Dmy6NqbBe63vJgq23kUA2f67M</string>
	<key>GCM_SENDER_ID</key>
	<string>178287129845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodrigues.riverpodInstagrao</string>
	<key>PROJECT_ID</key>
	<string>bemeals</string>
	<key>STORAGE_BUCKET</key>
	<string>bemeals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178287129845:ios:0047012dd3738c273d41bc</string>
</dict>
</plist>